@import url(/css/normalize.css);
@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:400,700&display=swap);

$bg-gradient: linear-gradient(to right, rgb(56, 189, 248), rgb(186, 230, 253));


body {
  background: $bg-gradient;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  max-height: 100dvh;
  overflow: hidden;

  header {
    background-color: $bg-gradient;
    color: #3f3a3a;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh ; // scroll çıkmadan yüksekliğin ekranın tamamını kaplaması için height: 
    .startButton {
      padding: 12px 20px;
      background-color: #20b2aa;
      color: #fff;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #008080;
      }
    }
  }

  main {
    margin: 250px auto;
    max-width: fit-content;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    .questionsArea {
      margin: 50px auto;
      min-width: 100%;
      max-width: fit-content;

      .questionOrder {
        progress {
          border: none;
          padding: 6px;
          background: rgba(0, 0, 0, 0.25);
          width: 100%;
          max-width: 500px;
          height: 30px;
          border-radius: 6px;
          box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.75), 0 1px rgba(255, 255, 255, 0.08);

          &[value]::-webkit-progress-bar {
            width: 100%;
            background: transparent;
            border-radius: 6px;
          }

          &[value]::-webkit-progress-value {
            background-image: -webkit-linear-gradient(
                135deg,
                transparent,
                transparent 33%,
                rgba(0, 0, 0, 0.1) 33%,
                rgba(0, 0, 0, 0.1) 66%,
                transparent 66%
              ),
              -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #09c, #f44);
            border-radius: 6px;
          }
        }
      }

      #question {
        background-color: #bfa0a0;
        border: 1px solid black;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        white-space: break-spaces;
        overflow: hidden;
        // text-overflow: ellipsis;
      }
    }

    .answerArea {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
      gap: 15px;

      .answerButton {
        padding: 12px 20px;
        background-color: #ff7f50;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          background-color: #f43e1e;
        }
      }
    }

    .controlArea {
      .nextButton {
        padding: 12px 20px;
        margin: 20px  auto;
        background-color: #20b2aa;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #008080;
        }
      }
    }

    .scoreArea {
      margin: 20px auto;
      .scoreButton {
        padding: 12px 20px;
        background-color: #9932cc;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #8a2be2;
        }
      }
    }
  }
}

.correct {
  background-color: #008000;
}

.wrong {
  background-color: #ff0000;
}
