@import url(/css/normalize.css);
@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:400,700&display=swap);
body {
  background-color: #dec5c5;
  font-family: "JetBrains Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  header {
    background-color: #4d4242;
    border-bottom: 5px solid #eee;
    color: #eee;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

main {
  margin: 0 auto;
  max-width: fit-content;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  .questionsArea {
    margin: 50px auto;
    .questionOrder progress {
      border: none;
      padding: 6px;
      background: rgba(0, 0, 0, 0.25);
      width: 500px;
      height: 30px;
      border-radius: 6px;
      box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.75), 0 1px rgba(255, 255, 255, 0.08);
      &[value]::-webkit-progress-bar {
        width: 100%;
        background: transparent;
        border-radius: 6px;
      }
      &[value]::-webkit-progress-value {
        background-image: -webkit-linear-gradient(
            135deg,
            transparent,
            transparent 33%,
            rgba(0, 0, 0, 0.1) 33%,
            rgba(0, 0, 0, 0.1) 66%,
            transparent 66%
          ),
          -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #09c, #f44);
        border-radius: 6px;
      }
    }
  }
  .questionsArea #question {
    background-color: #bfa0a0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
